<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%# In Ruby on Rails,  < % = % > (should be connected)is an
    embedded Ruby (ERB) tag used to embed Ruby code into HTML or other text-based
    templates. ERB allows you to mix Ruby code 
    with plain text to generate dynamic content in your views. %>
    <%= post.title %>
  </p>
  <p>
    Posted <%= time_tag post.created_at, "data-local":"time-ago"%>
  </p>

  <p>
    <strong><%= pluralize post.comments.count, "comment" %></strong>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <%=link_to "Show this post" , post %>
 </p> 

</div>
